@model List<TaskModel>
@{
    ViewData["Title"] = "Lista de Tarefas";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tarefa</th>
      <th scope="col">Descrição</th>
      <th scope="col">Data</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (TaskModel task in Model)
            {
                    <tr>
                      <th scope="row">@task.Id</th>
                      <td>@task.Title</td>
                      <td>@task.Description</td>
                      <td>@task.Date</td>
                      <td>
                          <a role="button" class="btn btn-primary" asp-route-id="@task.Id" asp-controller="Contato" asp-action="Edit">Editar</a>
                                  <a role="button" class="btn btn-danger" asp-route-id="@task.Id" asp-controller="Contato" asp-action="Delete">Deletar</a>
                      </td>
                    </tr>
            }
        }
  </tbody>
</table>