@model List<TaskModel>
@{
    ViewData["Title"] = "Lista de Tarefas";
}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="exampleModalLabel">Tem certeza disso?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <p>Tem certeza que deseja excluir a tarefa <span class="modal-title"></span> ? </p>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tarefa</th>
      <th scope="col">Descrição</th>
      <th scope="col">Data</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (TaskModel task in Model)
            {
                    <tr>
                      <th scope="row">@task.Id</th>
                      <td>@task.Title</td>
                      <td>@task.Description</td>
                      <td>@task.Date</td>
                      <td>
                          <a role="button" class="btn btn-primary" asp-route-id="@task.Id" asp-controller="Task" asp-action="Edit">Editar</a>
                          <a role="button" class="btn btn-danger" style="color:white;" data-toggle="modal" data-target="#exampleModal" data-itemid="@task.Id" data-whatever="@task.Title">Deletar</a>
                      </td>
                    </tr>
            }
        }
  </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget)
        var recipient = button.data('whatever')
        var id = button.data('itemid')
        var modal = $(this)

        modal.find('.modal-title').text(recipient)
        document.querySelector('.modal-footer').innerHTML = `<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <a role="button" class="btn btn-danger" href="Task/Deletar/${id}">Excluir</a>`
    })
</script>